*{
  box-sizing: border-box;
  margin: 0;
}
a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
#carrito{
  background-color: #303030;
  color: #f4b91d;
  text-align: right;
  padding-left: 5em;
  padding-right: 5em;
}
#carrito i{
  color: #9e9e9e;
}
#header-logo{
  background-color: #454545;
}
#header-logo:after {
  clear: both;
  display: table;
  content: "";
}
#logo-outside{
  float: left;
}
#logo i{
  font-size: 48px !important;
}
#logo{
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #454545;
  color: #f4b91d;
  font-size: 18px;
  text-align: center;
}

#menu{
  position: absolute;
  top: 5.5em;
  left: 0;
  right: 0;
  margin: 2em;
  z-index: 2;
  color: black;
}

#menu > ul {
padding-left: 5em;
padding-right: 5em;
padding-top: 0.5em;
padding-bottom: 0.5em;
list-style-type: none;
background-color: white;
}
#menu > ul > li {
display: inline-block;
text-align: center;
}
#menu i{
  display: block;
}
#blanco{
  color: white;
}
.menu-content{
  padding-left: 1.5em;
  padding-right: 1.5em
}
.vl{
border-left: 1px solid grey;
height: 15px;
}
#contenedor-centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}
#carril {
  position: relative;
}
#carril img {
  width: 100%;
  max-width: 100%;
}
  #carril div {
    text-align: center;
    padding: 0.5em;
}
#contenido-contenedor{
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
#button-contenedor{
  background-color: #fec424;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top:5em;
}
#flecha-iz{
  position: absolute;
  top: 50%;
  right: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#flecha-de{
  position: absolute;
  top: 50%;
  left: 95%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#barra {
  position: relative;
}
#barra img {
  width: 100%;
  max-width: 100%;
  filter:brightness(50%);
}
#contenedor-barra{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
#barra-tit{
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 0.5em;
}
#barra-text{
  color: white;
  font-weight: bold;
  font-size: 14px;
}
#info{
  text-align: center;
}
#info-tit{
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em;
}
#info-text{
  font-size: 12px;
  color: grey;
  padding: 0.5em;
}
#info-location{
  font-size: 16px;
  color: #4695b6;
  padding: 0.5em;
}
#info-number {
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em;
}
#info-number i {
  color: #fec424;
  font-size: 28px;
}
#check-contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  padding: 1.5em;
  background-color: #eaeaea;
}
.checkbox{
    padding: 2em;
}
.check-icon{
  font-size: 36px;
  display: inline-block;
}
.check-tit{
  font-size: 18px;
  font-weight: bold;
  padding: 0.5em;
  display: inline-block;

}
.check-des{
  color: #b7b7b7;
  font-size: 12px;
  padding-left: 3.5em;
}
#check-center{
  position: relative;
  text-align: center;
  right: 2em;
  bottom: 4em;
}
#extra-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.info-col{
  text-align: center;
}
.info-icon{
font-size: 48px;
color: #434343;
padding: 0.5em;
}
.info-tittle{
  padding: 0.5em;
  font-weight: bold;
}
.info-content{
  padding: 0.5em;
  color: #b7b7b7;
}
.more-info{
  padding: 0.5em;
  padding-bottom: 2em;
  color: #4695b6;
  font-weight: bold;
}
#opinions{
  background-color: #eeeeee;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
}
#opinions-tit{
  font-size: 24px;
  font-weight: bold;
}
#opinions-header i{
  position: relative;
  display: inline-block;
  color: #747474;
  border: thin solid #dedede;
  padding: 0.5em;
  font-size: 20px;
}
#opinions-header{
padding-top: 1em;
}
#opiniones-flechas{
  position: relative;
  bottom: 2.3em;
  text-align: end;
}
#gris{
  height: 5px;
  background-color: #e5e5e5;
  border: thin solid #eeeeee;
}
#naranja{
  height: 5px ;
  width: 30px;
  background-color: #d6c55d;
  border: thin solid #eeeeee;
  bottom: 0.3em;
  position: relative;
}
 #opinions-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
.opinion{
  position: relative;
  padding: 1em;
}
.opinion-text{
  background-color: white;
  color: #5d5d5d;
  padding: 2.5em;
  font-style: italic;
  font-size: 16px
}
.opinion-comillas{
  position: absolute;
  background-color: #bcbcbc;
  color: white;
  font-size: 24px;
  padding: 0.2em;
  top: 2.4em;
  left: unset;
}
.opinion-triangulo{
  position: absolute;
  padding-top: 0;
  padding-left: 0;
  border-left: 15px solid white;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;
  left: 3em;
}
.opinion-person{
  font-size: 12px;
  font-weight: bold;
  padding: 0.5em;
  padding-top: 2.5em;
}
.opinion-rating{
  color: #ffcd24;
  font-size: 12px;
}
#gallery{
  position: relative;
  padding: 2em;
}
#gallery-tit{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}
.gallery-des{
  padding: 0.25em;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 0.5em;
}
.gallery-img{
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
#gallery-butom{
  position: absolute;
  left: 43%;
  border-radius: 4px;
  color: #979797;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: thin solid #979797;
  font-weight: bold;
}
  #footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #454545;
  }
  .footer-column{
    position: relative;
    padding: 1.5em;
  }
.footer-tit{
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.footer-grey{
  color: #606060;
  font-size: 12px;
  padding: 0.5em;
}
.footer-white{
  color: white;
  font-size: 12px;
}
#footer-icon{
  position: absolute;
  color: grey;
  font-size: 30px;
  padding: 0.2em;
  left: -1em;
}
#footer-butom{
  background-color: #454545;
  border-radius: 4px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border: thin solid #f4b91d;
  font-weight: bold;
}
#derechos{
  background-color: #f6c61c;
  text-align: center;
  padding: 0.5em;
}

#titulo_gallery{
  position: relative;
  background-color: grey;
  color: white;
  padding: 2em;
  padding-top: 3em;
  padding-left: 10em;
  padding-right: 10em;
  font-weight: bold;
}
#name_gallery{
  position: absolute;
  left: 8em;
  display: inline-block;
  font-size: 20px;
  bottom: 1em;
}
#ruta_gallery{
  position: absolute;
  right: 10em;
  display: inline-block;
  font-size: 12px;
  top: 3em;
}
#lugar_imagenes_gallery{
  padding: 2em;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 1em;
}
#text_imagenes_gallery{
  font-weight: bold;
  padding-bottom: 1em;
}
#hr_gallery{
  color: gold;
}
#lugar_cartas_gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}
.carta_gallery{
  position: relative;
  padding: 0.5em;
}
.cartas_gallery img {
  width: 100%;
  max-width: 100%;
}
.contenido_carta_gallery{
  position: absolute;
  bottom: 12px;
  color: white;
  font-size: 12px;
  background-color: #4c4c4c;
  text-align: center;
  padding: 0.5em;
  padding-left: 4.55em;
  padding-right: 4.55em;
}

#titulo_contact{
  position: relative;
  background-color: grey;
  color: white;
  padding: 2em;
  padding-top: 3em;
  padding-left: 10em;
  padding-right: 10em;
  font-weight: bold;
}
#name_contact{
  position: absolute;
  left: 8em;
  display: inline-block;
  font-size: 20px;
  bottom: 1em;
}
#ruta_contact{
  position: absolute;
  right: 10em;
  display: inline-block;
  font-size: 12px;
  top: 3em;
}
#tit_contact{
  padding: 1em;
  padding-left: 10em;
  font-weight: bold;
}
#tit_form{
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 1em;
}
#main_contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 11em;
  padding-right: 11em;
}
.des_form{
  padding: 0.25em;
  font-size: 12px;
}

label{
  font-weight: bold;
  padding: 0.5em;
}

@media (max-width: 1024px) {

#menu > ul > li {
  display: ruby-text
}
  #menu > ul {
    padding-top: 0.5em;
    list-style-type: none;
    background-color: white;
  }

  #check-contenedor {
  display: grid;
  grid-template-columns: 1fr;
}

#extra-info {
  display: grid;
  grid-template-columns: 1fr;
}
#check-center {
  position: static;
  text-align: justify;
  right: 2em;
  bottom: 4em;
}
.checkbox{
  padding: 0;
}
#opinions-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
}
#footer {
  display: grid;
  grid-template-columns: 1fr;
}
#footer-butom{
  font-size: 36px;
}
#gallery-butom{
  font-size: 36px;
}
.check-tit{
  font-size: 36px;
}
#menu {
  position: absolute;
  top: 5.5em;
  right: 0;
  margin: 2em;
  z-index: 2;
}
.opinion-rating{
  color: #ffcd24;
  font-size: 12px;
  padding: 0.5em;
}
i{
  padding: 1em;
}
